@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Libre+Baskerville&family=Montserrat+Alternates:wght@200&display=swap');
$backgroundclr:#131722;
body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: $backgroundclr !important;
  color: #fff !important;
  
  
}

